/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  /* border: 1px solid #000000; */
}

/* header{
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
} */

.navbar{
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.logoImg{
  margin-right: 10px;
}

.logoName{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

.nav-item{
  margin-left: 10px;
}

.navlogin{
  text-decoration: none;
  color: #000000;
}

.navSignUp{
  text-decoration: none;
  color: #ffffff;
}

.navSignUp:hover{
  color: #ffffff;
}

.userDropdownNavbar{
  margin-top: -3%;
}

.userImageContainerNavbar{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  /* background-color:#F9ED32; */
  
}

.userImageProfileNavbar{
  width: 40px;
  height: 40x;
  border-radius: 10px;
  border: 0.5px solid #c8c8c8;
  margin-right: 10px;
}

.userNameDashboardNavbar{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

.hero{
  /* background-color: aqua; */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(214, 218, 228, 0) 0%, rgba(214, 218, 228, 0.2) 100%);
  position: relative;
}

.hero-inner{
  /* background-color: antiquewhite; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline-inner-row {
  width: 100%;
  height: 100%;
}

.heroHeadlines{
  display: flex;
  align-items: center;
}

.heroHeadlinesInner{
  display: flex;
  flex-direction: column;
}

.headline{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 59px;
  /* or 107% */
  margin-bottom: 20px;


  color: #000000;
}


.headline .headlineHighlight {
  background-color: #F9ED32;
  font-weight: 700;
  mix-blend-mode: multiply;
  display: inline;
}

.subHeadline{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */


  color: #000000; 

  margin-bottom: 50px;
}

.buttonContainer{
  width:60%;
}

.buttonContainer-inner{
  background-color: #0066FF;
  border-radius: 5px;
  padding: 1.5%;
  height: 60px;
}

.emailInput{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* text-muted */

  color: #9CA0AC;
  background-color: #FFFFFF;
}

.emailInputBtn{
  background-color: #0066FF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
}

.emailInputBtn:hover{
  background-color: #004dc0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
}

.emailInputBtn span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
}

.heroImageContainer {
  /* border: 1px solid #000000; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage{
  height: 600px;
}

/* sidebar */
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  z-index: 100;
  transition: all 0.5s ease;
   background: #fff;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #11101d;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links > li.active:before,
.sidebar .nav-links > li:before{
  position:absolute;
  left:0;
  top:0;
  content:'';
  width:4px;
  height:100%;
  background:#0B63F8;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.sidebar .nav-links li.active:before,
.sidebar .nav-links li:hover:before{
  opacity: 1;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #11101d;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.active i,
.sidebar .nav-links li:hover i{
  color: #0B63F8;  
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 16px;
  font-weight: 400;
  color: #11101d;
  transition: all 0.4s ease;
}
.sidebar .nav-links li.active a .link_name,
.sidebar .nav-links li:hover a .link_name{  
  color: #0B63F8;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #fff;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #1d1b31;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .profile-details .job{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  opacity:.5;
  white-space: nowrap;
}
.sidebar .profile-details i.bx{  
    min-width: 50px;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #FAFAFC;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  /* display: flex; */
  align-items: center;
  padding: 0 3%;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

/* end sidebar */

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 0.8% 0;
  text-align: center;
  /* background-color: #0066FF; */
}

.footer span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.footer span a{
  color: #000000;
  text-decoration: none;
 }

 .footer span a:hover{
  color: #0066FF;
 }


 /* Dashboard */

 .dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .dashboard-inner{
  width: 550px;
 }

.navbarDashboard{
  /* background-color: #0B63F8; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #0066FF; */
  height: 90px;
  /* justify-content: center; */
  margin-top: 100px;
  /* margin-bottom: 2%; */
}

.headerDashboard{
  /* flex: 0.4; */
  /* background-color: #0B63F8; */
}

.headerDashboard span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  /* line-height: 38px; */
  /* identical to box height */


  color: #000000;
}

.searchBarDashboard{
  /* flex: 1.6; */
  /* background-color: #F9ED32; */
  width: 50%;
}

.searhbarForm{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* background-color: #F9ED32; */
  /* padding: 0 2%; */
}

.searhInput{
  background: #FFFFFF;
  height: 100%;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-left: -45px;
}

.btnDividerContainer{
  height: 100%;
  width: 5px;
  margin-left: -45px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #0066FF; */
}

.btnDivider{
  height: 70%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  /* transform: rotate(90deg); */
}

.searhBtn{
  height: 100%;
  margin-left: -43px;

}

.userAccount{
  height: 50px;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  /* background-color: #0066FF; */

}

.userAccount-inner{
  width: 100%;
  height: 100%;
  
  
}

.userDropdown{
  float: right;
  /* background-color: #00ff6e; */
  margin-top: -6%;
}

/* UserAccount.css */
/* .userDropdown .dropdown-toggle::after {
  display: none; 
} */

.userImageContainer{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  /* background-color:#F9ED32; */
  
}

.userImageProfile{
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: 0.5px solid #c8c8c8;
  margin-right: 10px;
}

.userNameDashboard{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}

.totalCreateContainer{
  /* background-color: #F9ED32; */
  width: 100%;
  margin-bottom: 1%;
  /* height: 100px; */
}

.totalCreateContainer-inner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalContainer span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #484848;
}

.createLinkBtn{
  height: 50px;
  width: 170px;
}

.userDashboardDivider{
  width: 100%;
  border-top: 0.5px solid #000000;
  margin-bottom: 2%;
}

.userLinksContanerDashboard{
  /* background-color: #F9ED32; */
  padding-bottom: 2%;
}

.userLinksContaner{
  height: 150px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0 2%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.userLinksContaner:hover{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.30);
}

.userLinksContaner-inner{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* background-color: #0066FF; */
}

.userLinksContanerLeft{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: #0066FF; */
}

.linkImageContainer{
  width: 150px;
  height: 100%;
  border: 0.2px solid #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
}

.linkImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userLinkTitle{
  padding: 0 2%;
  display: flex;
  
  flex-direction: column;
  /* background-color: red; */
  
}

.userLinkTitleText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 50px;
  /* identical to box height */


  color: #000000;

  display: inline-block;
  width: 250px; /* Adjust the width as per your requirement */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userLinksContanerRight{
  /* background-color: #004dc0; */
  /* width: 30%; */
  position: absolute;
  right: 0;
}

.userLinkTitleTextDate{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: rgba(0, 0, 0, 0.50);
}

.userLinkBtnContainer{
  
  /* background-color: #26c000; */
}

.userLinkBtnContainer-inner{
  float: right;
  /* margin-top: 5%; */
  display: flex;
  padding: 0;
  /* background-color: #70c000; */
}

.userCopyBtn{
  margin-top: 5%;
}

/* .userDotsBtn{
  height: 5px;
  border: none;
} */

.userLinkBtnIcon{
  font-size: 40px;
}

.userCreateLinkNameLabel{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  
  color: #5A5A5D;
  margin-bottom: 3px;
}

.userCreateLinkInput{
  margin-bottom: 13px;
}

.userDropdownLinks .dropdown-toggle::after {
  display: none; 
}

.listEmptyContainer{
  width: 100%;
  /* background-color: #0B63F8; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.listEmptyText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #7A7A7A;
}

 /* end dashboard */

 /* Footer */
.portfolioLink{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}
 /* End Footer  */

 /* Loader */
 .popup{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 5s ease-in-out; */
  z-index: 2;
}

.popup-inner{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-bg{
  position: absolute;
  
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
}
 /* end Loader */


 /* small screen */
@media screen and (max-width: 1200px){
  .heroImageContainer{
    display: none;
  }

  .heroHeadlinesInner{
    text-align: center;
  }

  .buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0bf832; */
    /* width: 100%; */
    width: 100%;
  }

  .buttonContainer-inner{
    width: 100%;
  }
}

/* tablet */
@media screen and (max-width: 995px) {
  .navloginContiner{
    display: none ;
  }
}

/* mobile */
@media screen and (max-width: 580px) {
  .userNameDashboardNavbar{
    display: none;
  }

  .headline{
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 5px;
  }

  .subHeadline{
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .userLinksContaner{
    height: 120px;
  }

  .linkImageContainer{
    width: 190px;
    height: 100%;
  }

  .userLinkTitleText{
    font-size: 20px;
    line-height: 30px;
    width: 140px; 
  }

  .userLinkTitleTextDate{
    font-size: 16px;
    line-height: 19px;

    display: inline-block;
    width: 140px; /* Adjust the width as per your requirement */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .footer span{
    font-size: 10px;
  }
  
  .footer span a{
    color: #000000;
    text-decoration: none;
   }
}
