.socialLinkContainer{
    margin-top: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.socialLinkContainer-inner{
    width: 550px;
}

.socialLinkHeader{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.socialLinkImageContainer{
    width: 130px;
    height: 130px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;

    border: 0.5px solid black;
    /* border: 2px solid transparent;
    background-image: linear-gradient(90deg, rgba(0, 102, 255, 1) 0%, rgba(246, 235, 66, 1) 100%);
    background-clip: padding-box;
    border-radius: 10px;
    padding: 5px;  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socialLinkName{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 56px;
}

.socialLinkByUser{
    display: flex;
    align-items: center;
}

.socialLinkByUserImage{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 5px;
}

.socialLinkByUserName{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    /* text-decoration-line: underline; */

    /* text-muted */

    color: #9CA0AC;
}

.addSocialsContainer{
    /* background-color: aqua; */
    display: flex;
    
    width: 100%;
    padding: 0 0 15px 0;
}

.addSocialsContainer-inner{
    /* background-color: black; */
    width: 100%;
}

.addSocialsBtn{
    float: right;
}

.socialLinkDivider{
    width: 100%;
    border-top: 0.5px solid #000000;
}

.socialLinkLabel{
    display: flex;
    align-items: center;
    /* padding: 5px 0; */
    /* background-color: aqua; */
}

.socialLinkLabel-inner{
    /* background-color: rgb(51, 255, 0); */
    height: 100%;
    border-top: 2px solid #000000;
    padding: 5px;
}

.socialLinkLabelImage{
    width: 17px;
    height: 17px;
    margin-right: 2px;
}

.socialLinkLabelText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.socialLinkItemContainer{
    /* display: flex;
    align-items: center; */
    /* flex-wrap: wrap; */
    /* background-color: beige; */

    padding-bottom: 5%;
    
}

.socialLinkItem{
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin: 1.5% 0;
    padding: 2% 5%;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.socialLinkItem:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.30);
}

.socialLinkItem-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socialLinkItemRight{
    display: block;
}

.socialLinkItemName{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    color: #000000;
}

.socialLinkItemLink{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #9CA0AC;
}