.logInCard{
    padding: 40px 35px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.navbarLogin{
    padding: 40px 0;
    margin-bottom: 55px;
}

.logoImg{
    height: 50px;
}

.loginCointainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .logInLabel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  
    color: #5A5A5D;
    margin-bottom: 3px;
  }

  .loginContainerText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */
  
    display: flex;
    align-items: center;
  
    /* text/primary */
  
    color: #101012;
  }

  .textFields{
    width: 350px;
    margin-bottom: 13px;
  }

  .logInPageBtn{
    width: 100%;
    margin-bottom: 15px;
  }
  
  .googleIcon{
    height: 15px;
    margin-right: 5px;
  }

  .dontHaveAnAccount-container{
    display: flex;
    justify-content: center;
  }
  
  .dontHaveAnAccount-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 17px */
  
    display: flex;
    align-items: center;
    text-transform: capitalize;
  
    /* text/tertiary */
  
    color: #BEBEBF;
  
  
  }
  
  .dontHaveAnAccount-logIntext{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  
    margin-left: 5px;
    /* text/tertiary */
  }

  /* loader */
  .popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 5s ease-in-out;
  }

  .popup-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-bg{
    position: absolute;
    
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);

  }

  .loader{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
  }